<div class="artist-detailed-view-container">
    <div *ngIf="artist == null" class="no-details-found-container">
        <p>No details have been found for this artist. 
            Please click the button below to go back and try again</p>
        <button (click)="navigateToArtistSearch()">Go Back</button>
    </div>
    <div *ngIf="artist != null" class="artist-details-container">
        <div class="artist-top-level-information">
            <div class="search-tile-content-container">
                <h2>{{artist.name}}</h2>
                <p>{{artist.nb_fan}}</p>
                <img [src]="artist.picture_big" class="artist-picture" />
            </div>
            <div class="search-tile-content-container">
                <h2>Top Tracks</h2>
                <ol class="top-track-container" >
                    <li class="top-track" *ngFor="let track of topTracks">
                        <span class="track-detail">{{track.title}}</span>
                        <span class="track-detail">{{track.duration}}</span>
                    </li>
                </ol>
                
            </div>
        </div>
    </div>
</div>