@import"../../../../styles/variables.scss";

.artists-search-container {
    @include center-flex(column);
    background-color: $dark-blue-90;
    height: 100%;
    overflow: auto;

    .loading-spinner-container {
        height: 80%;
    }

    .result-tiles-container {
        @include center-flex();
        flex-wrap: wrap;
        width: 90%;
        height: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
}