@import"mixins.scss";
// Colours
$teal: #00f8fe;
$dark-blue: #140e28;
$white: #ffffff;
$pink: #a508d1;
$aqua: #008783;

// Main Colours With Transparency
$dark-blue-90: #140e2890;
$dark-blue-80: #140e2880;
$dark-blue-60: #140e2860;
$dark-blue-20: #140e2820;
$pink-60: #a508d160;

// Box Shadows


