@import"../../../../styles/variables.scss";

.search-result-tile-container {
    @include center-flex(column, flex-start);
    background-color: $dark-blue-60;
    width: 200px;
    height: 300px;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 5px;

    &:hover {
        cursor: pointer;
        background-color: $dark-blue;
    }

    .artist-picture {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        height: 100;
        background-size: cover;
    }

    .search-tile-content-container {
        @include center-flex();
    }
}